                                        /* Mise en place du template */

main {
  width: 100%;
}

section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1FR);
  grid-template-rows: repeat(12, 8.33%);
}
                                                /* Partie aside */
aside {
  width: 100%;
  grid-column: 1/6;
  grid-row: 1/10;
}

aside img {
  height: 100%;
}

                                        /* Partie de la barre latéral à droite */
.social_network{
  grid-column: 12/13;
  grid-row: 2/7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social_network a {
    color: black;
}

.social_network span {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  transform: rotate(90deg);
  height: 2px;
  background-color: black;
}
                                      /* Partie bloc de droite */
.first_article h1{
  font-size: 6em;
}

.first_article p {
  margin-top: 5%;
}

.first_article button {
  height: 50px;
  width: 30%;
  background-color: white;
  border-radius: 20px;
  margin-top: 15%;
  border: 1px solid #C2C2C2;
}

.first_article {
  grid-column: 7/13;
  grid-row: 2/5;
}

.second_article-left {
  grid-column: 7/9;
  grid-row: 9/9;
}

.second_article-right {
  grid-column: 10/13;
  grid-row: 8/10;
  background-color: black;
  text-align: center;
  color: white;
}

.right_block-text {
  margin-top: 50px;
}

.left_block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.left_block button {
  margin: auto;
  text-align: center;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius:50%;
  border:#666 1px solid;
}









